@model ProjectASP.Net.Models.User
<!DOCTYPE html>
<html>
<head>
    <style>
    footer {
            
            width: 100%;
            bottom: 0;
            position: fixed;
        }
       
        </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>Customized Your Own T-Shirt</title>
<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
 <!-- start menu -->     
<link href="~/Content/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/Scripts/megamenu.js"></script>
<script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
<!-- end menu -->
<!-- top scrolling -->
<script type="text/javascript" src="~/Scripts/move-top.js"></script>
<script type="text/javascript" src="~/Scripts/easing.js"></script>
   <script type="text/javascript">
       jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
               event.preventDefault();
               $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
           });
       });
	</script>

</head>
<body>
 
<div class="header-top">
	 <div class="wrap"> 
		<div class="logo">
			<a href="index.cshtml"><img src="~/Images/logo1.png" alt=""/></a>
	    </div>
	    <div class="cssmenu">
		   <ul>
			 <li class="active">
                 @if(HttpContext.Current.Session["user"]!=null)
                 {
                       @Html.ActionLink("Logout","Logout","Home")
                 }
                 else{@Html.ActionLink("Sign up & Save","Register","Home")}
               
                 
			 </li> 
			 <li>
                  @if(HttpContext.Current.Session["user"]!=null)
                  {
                    
                    string s= Session["name"].ToString();  
                         
                            @Html.ActionLink(s, "Info", "Home")
                       
                      
                  }
                  else{@Html.ActionLink("My Account","Login","Home")}
			 </li>
                
			 <li>@Html.ActionLink("CheckOut","Checkout","ShoppingCart")</li>
                @if(HttpContext.Current.Session["user"]==null)
                 {
                     <li class="active">
                       @Html.ActionLink("Admin","Login","Admin")</li>
                 }
                 
		   </ul>
		</div>
		<div class="clear"></div>
 	</div>
   </div>
   <div class="header-bottom">
   	<div class="wrap">
   		<!-- start header menu -->
		<ul class="megamenu skyblue">
		    <li>@Html.ActionLink("Home","Index","Home")</li>
			<li class="grid">@Html.ActionLink("Men","Men","OrderPlace") 
		
				</li>
  			   <li class="active grid">@Html.ActionLink("Women","Woman","OrderPlace") 
				 </li>				
				<li>@Html.ActionLink("Kids","Kid","OrderPlace") 
				  
				<li>@Html.ActionLink("About","About","Home")</li>
           @* <li>@Html.ActionLink("Design Lab","DesignLab","ShoppingCart")</li>*@
            <li>@Html.ActionLink("Admin","Login","Admin")</li>
		   </ul>
		   <div class="clear"></div>
     	</div>
       </div> 
      
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
     <div class="footer">
       	  <div class="footer-top">
       		<div class="wrap">
       			   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	 <ul class="f_list">
				  	 	<li><img src="~/Images/f_icon.png" alt=""/><span class="delivery">Free delivery on all orders over £100*</span></li>
				  	 </ul>
				   </div>
				   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	<ul class="f_list">
				  	 	<li><img src="~/Images/f_icon1.png" alt=""/><span class="delivery">Customer Service :<span class="orange"> (800) 000-2587 (freephone)</span></span></li>
				  	 </ul>
				   </div>
				   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	<ul class="f_list">
				  	 	<li><img src="~/Images/f_icon2.png" alt=""/><span class="delivery">Fast delivery & free returns</span></li>
				  	 </ul>
				   </div>
				  <div class="clear"></div>
			 </div>
       	 </div>
       	 <div class="footer-middle">
       	 	 	 
       	 <div class="copy">
       	   <div class="wrap">
       	   	  <p>© All rights reserved</p>
       	   </div>
       	 </div>
       </div>
       <script type="text/javascript">
           $(document).ready(function () {

               var defaults = {
                   containerID: 'toTop', // fading element id
                   containerHoverID: 'toTopHover', // fading element hover id
                   scrollSpeed: 1200,
                   easingType: 'linear'
               };


               $().UItoTop({ easingType: 'easeOutQuart' });

           });
		</script>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
         </div>
        </footer>
</body>
</html>
