@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ProjectASP.Net.Models
@if(Session["Cart"]==null)
{
<div class="login">
         <div class="wrap">
    	     <h4 class="title">Shopping cart is empty</h4>
    	     <p class="cart">You have no items in your shopping cart.<br>Click<a href="index.html"> here</a> to continue shopping</p>
    	   </div>
		</div>
}
else
{
    

 
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div align="center">
    <p>@ViewBag.User.Name</p>
    <p>@ViewBag.User.Number</p>
    <p>@ViewBag.User.Email</p>
    <p>@ViewBag.User.Address</p>
    <table class="table" style="width:50%">
     <thead class="thead-default">
    <tr style="background-color:aliceblue">
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Totlal</th>
    </tr>
         </thead>
    <tbody>
    @if(Session["cart"] != null)
    {
        foreach (var item in (List<Item>)Session["cart"])
        {
            <tr>
                <td>
                    @item.product.Id
                </td>
                <td>
                    @item.product.ProductName
                </td>
                <td>
                    @item.product.ProductPrice
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    
                    @(item.product.ProductPrice * item.quantity) 
                </td>
            </tr> 
        }
    }
        </tbody>
</table>
<h6>Total Price: @Session["totalp"]</h6>

@Html.ActionLink("Check out", "check", "ShoppingCart"); 
 </div>
}

}